@using MvcCv.Models.Entity;
@model List<Tbl_Hobiler>
<div class="resume-section-content">
    <h2 class="mb-5">Hobiler</h2>
    @foreach (var x in Model)
    {
        <p>@x.Aciklama</p>
        <p class="mb-0">@x.Aciklama2</p>
    }

</div>
