
<div class="resume-section-content">
    <h2>İletişim</h2>
    <form method="post">
        <label>Ad Soyad:</label>
        <input type="text" class="form-control" name="AdSoyad" />
        <br />
        <label>Mail:</label>
        <input type="text" class="form-control" name="Mail" />
        <br />
        <label>Konu:</label>
        <input type="text" class="form-control" name="Konu" />
        <br />
        <label>Mesaj:</label>
        <input type="text" class="form-control" name="Mesaj" />
        <br />
        <button class=" btn btn-success">Gönder</button>
    </form>
</div>