@model MvcCv.Models.Entity.Tbl_Sertifikalar 
@{
    ViewBag.Title = "SertifikaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Sertifika Düzenleme Sayfası</h2>
<br />

<form method="post">
    @Html.Label("Açıklama:")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih:")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })

    <br />
    <button class="btn btn-success">Güncelle</button>
    <a href="/Sertifika/SertifikaSil/@ViewBag.SertifikaId" class="btn btn-danger">Sil</a>
</form>
